//=====COLORS PALLETE=======//

background_primary = #E0E0E0;
color_text_base = #54A6B8;


//====OTIONAL COLOURS ======//

background_nav 				= rgba(#303030,.8);
background_nav_principal 	= rgba(#000,.85);
color_nav      				= #B8B8B8;
color_link 					= #C57126;


