//=====COLORS PALLETE=======//

color_primary      = #067152;
background_primary = #E0E0E0;
background_primary_dark = #1B1B1B;
background_optional_dark = #A0A0A0;
color_text_base = #54A6B8;


//====OTIONAL COLOURS ======//

map_canvas					= #8B8F83
color_primary_icon          = #B1A995
background_nav 				= rgba(#303030,.8);
background_nav_principal 	= rgba(#000,.85);
background_footer       	= #1C2120;
color_nav      				= #B8B8B8;
color_link 					= #C57126;


border__footer              = #5A5656;


//========= STATES VALUES  ===========//

color_btn_active           = #B89749;