html {
  background-color: #e0e0e0;
  box-sizing: border-box;
  height: 100%;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  box-sizing: inherit;
}
body {
  -webkit-font-smoothing: antialiased;
  color: #54a6b8;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
main {
  width: 100vw;
}
a {
  background: transparent;
  color: #c57126;
  text-decoration: none;
  outline: none;
  transition: color 0.2s;
}
li {
  list-style: none;
}
img {
  height: auto;
  max-width: 100%;
}
button {
  outline: none;
  border: none;
  display: inline-block;
}
input {
  outline: none;
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.header {
  transition: all 1s;
  background-image: url("./../../resources/img/principal.png");
  background-size: cover;
  background-position: right center;
  width: 100%;
  height: 460px;
}
.header:hover {
  transition: all 1s;
  background-image: url("./../../resources/img/header.png");
}
@media screen and (min-width: 890px) {
  .header {
    height: 600px;
    background-position: top center;
  }
}
.nav-center {
  padding-top: 60px;
}
.top-nav {
  position: fixed;
  z-index: 999;
  top: 0;
}
.nav-container {
  position: fixed;
  transition: all 0.45s;
  background-color: rgba(0,0,0,0.85);
  top: 0;
  padding-top: 60px;
  z-index: 900;
  width: 100%;
  height: 100%;
  margin-left: -600px;
}
@media screen and (min-width: 890px) {
  .nav-container {
    width: 34%;
  }
}
.nav-items:nth-child(1) {
  background-color: transparent;
}
.nav-items {
  font-family: 'Roboto';
  display: block;
  background-color: rgba(48,48,48,0.8);
  font-size: 1.25rem;
  padding: 1.25rem;
  transition: all 0.25s;
  border-bottom: solid 0.5px #3d3d3d;
  color: #b8b8b8;
}
.nav-items:hover {
  color: #808080;
  margin-left: 5px;
}
.size {
  width: 28px;
  color: #007e83;
}
.nav-search {
  width: 90%;
  margin: 15px auto;
  border-radius: 2px;
  background-color: #c0c0c0;
  position: relative;
}
.nav-input-search {
  width: 90%;
  background-color: #c0c0c0;
  padding: 8px;
  font-size: 1.1rem;
  margin: auto;
}
.send-search {
  position: absolute;
  color: #272727;
  top: 10px;
  transition: all 0.25s;
  right: 8px;
}
.send-search:hover {
  cursor: pointer;
  color: #595959;
}
.credits {
  width: 100%;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  padding: 18px 0;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 890px) {
  .credits {
    font-size: 1.2rem;
    background-color: #313131;
    padding: 20px 0;
  }
}
.credits i {
  font-size: 1.5rem;
}
.copy {
  text-align: center;
  margin: 1rem 0;
  color: #a17d4e;
}
.hero-slider {
  height: 200px;
  background-color: #a0a0a0;
}
.banner {
  height: 680px;
  background-color: #1b1b1b;
}
@media screen and (min-width: 890px) {
  .banner {
    height: 700px;
    display: flex;
    flex-wrap: wrap;
  }
}
.banner__title {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 890px) {
  .banner__title {
    width: 40%;
    height: 100%;
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
  }
}
.banner__h2 {
  padding: 40px 10px 10px 10px;
  font-size: 1.6rem;
  text-align: center;
  color: #027d6d;
  margin: 0;
}
@media screen and (min-width: 890px) {
  .banner__h2 {
    font-size: 3rem;
    font-weight: 500;
  }
}
.banner__btn {
  background-color: #d28430;
  padding: 10px;
  margin: 8px auto;
}
.banner__content {
  height: 70%;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}
@media screen and (min-width: 890px) {
  .banner__content {
    width: 60%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    padding: 40px 70px;
  }
}
.slide-wrap {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  height: 100%;
  margin: auto 0;
  position: relative;
  z-index: 800;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 890px) {
  .slide-wrap {
    height: 86%;
  }
}
.load-container {
  transition: all 0.7s;
  min-width: 100%;
  width: 100%;
  display: flex;
  margin-left: 0;
  flex-direction: row;
  min-height: 100%;
}
.img-banner-items {
  min-width: 100%;
  width: 100%;
}
.img-load-content {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.btn-prev,
.btn-next {
  position: absolute;
  top: 45%;
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
  background-color: rgba(0,0,0,0.7);
}
.btn-prev i,
.btn-next i {
  color: #c0c0c0;
  font-size: 1.2rem;
}
.btn-prev i:hover,
.btn-next i:hover {
  transform: scale(1.1);
  color: #b89749;
  cursor: pointer;
}
.btn-next {
  right: 10px;
}
.btn-prev {
  left: 10px;
}
.img-banner-content {
  transition: all 0.35s;
}
.img-banner-content:hover {
  filter: brightness(0.5);
  cursor: pointer;
}
.map {
  width: 100%;
  margin: 0;
  background-color: #8b8f83;
  padding: 10px 0;
}
.map__canvas {
  width: 100%;
  padding: 5px;
  height: 300px;
  margin: 0;
}
.footer {
  background-color: #1c2120;
  min-width: 100vw;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}
@media screen and (min-width: 890px) {
  .footer {
    min-width: 90%;
    width: 88%;
    margin: 2rem auto;
    border-radius: 5px;
    flex-direction: row;
  }
}
.footer__about {
  text-align: center;
  font-size: 1rem;
  color: #808080;
  padding: 0.5rem;
  border-bottom: 1px solid #5a5656;
}
@media screen and (min-width: 890px) {
  .footer__about {
    width: 50%;
    font-size: 1.2rem;
    border: none;
    border-right: 1px solid #5a5656;
  }
}
.footer__contact {
  margin: 1rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 890px) {
  .footer__contact {
    width: 50%;
    font-size: 2rem;
  }
}
.footer-contact__item i {
  color: #b1a995;
  display: inline-block;
  padding: 0.25rem 0.7rem;
  transition: all 0.25s;
}
.footer-contact__item i:hover {
  transform: scale(1.25);
}
.contact__caption {
  font-size: 1rem;
  display: block;
  color: #808080;
  text-align: center;
  margin-bottom: 0.25rem;
}
@media screen and (min-width: 890px) {
  .contact__caption {
    font-size: 1.2rem;
  }
}
.icon-nav {
  display: inline-block;
  background: #171717;
  width: 70px;
  position: absolute;
  z-index: 900;
  height: 60px;
  top: 0;
}
.icon-nav .item {
  display: block;
  width: 36px;
  height: 4px;
  border-radius: 1px;
  margin: 0 auto 4px;
  position: absolute;
  transition: all 0.35s;
  background: #c0c0c0;
  left: 17px;
}
.icon-nav .top {
  top: 18px;
}
.icon-nav .mid {
  top: 28px;
}
.icon-nav .bottom {
  top: 38px;
}
.logo {
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  left: 70px;
  width: 70px;
  height: 60px;
  background-color: rgba(49,49,49,0.9);
}
.logo-img {
  padding-top: 5%;
  width: 100%;
  height: 90%;
}
.description {
  background-color: rgba(0,0,0,0.4);
  border: 0.5px solid #515151;
  color: #c0c0c0;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 200px;
  padding: 10px;
}
.caption {
  font-family: "lato";
  font-size: 1.4rem;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 890px) {
  .caption {
    font-size: 1.8rem;
  }
  .caption:hover {
    cursor: pointer;
    font-size: 2rem;
    word-spacing: 15px;
    letter-spacing: 4px;
  }
}
.loader {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1200;
  top: 0;
  background-color: #2a2a2a;
}
.loader .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader i {
  color: #03627a;
  font-size: 100px;
  animation: loader-icon 1.5s infinite;
}
.none {
  display: none;
}
.modal-img-view {
  transition: all 0.5s;
  position: fixed;
  z-index: 1000;
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 890px) {
  .modal-img-view {
    padding: 20%;
  }
}
.modal-img-view img {
  width: 100%;
}
.modal-img-view .btn {
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 15px;
  right: 15px;
  color: #c0c0c0;
  font-size: 2rem;
  cursor: pointer;
}
@keyframes loader-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.is-active-toggle .item {
  height: 4px;
  border-radius: 1px;
  margin: auto;
  transition: all 0.35s;
  position: absolute;
  background: #c0c0c0;
}
.is-active-toggle .top {
  top: 28px;
  transform: rotate(45deg);
}
.is-active-toggle .mid {
  top: 26px;
  opacity: 0;
}
.is-active-toggle .bottom {
  top: 28px;
  transform: rotate(-45deg);
}
.is-active-nav {
  transition: all 0.5s;
  margin-left: 0;
}
.element-is-active {
  opacity: 1;
  transition: all 0.25s;
}
.page-is-load {
  opacity: 0;
}
