html {
  background-color: #e0e0e0;
  box-sizing: border-box;
  height: 100%;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  box-sizing: inherit;
}
body {
  -webkit-font-smoothing: antialiased;
  color: #54a6b8;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
main {
  width: 100vw;
}
a {
  background: transparent;
  color: #c57126;
  text-decoration: none;
  outline: none;
  transition: color 0.2s;
}
li {
  list-style: none;
}
img {
  height: auto;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.header {
  background-image: url("./../../resources/img/principal.png");
}
