.icon-nav
	display inline-block 
	background #292929
	width 70px
	position absolute
	height 60px
	top 0
	.item
		display block
		width 36px
		height 4px
		border-radius 1px
		margin 0 auto 4px
		position absolute
		transition all .35s
		background silver
		left 17px
	.top
		top 18px;
	.mid
		top 28px
	.bottom
		top 38px;
.logo
	display inline-block
	position absolute
	box-sizing border-box
	left 70px
	width 70px
	height 60px
	background-color rgba(#545454,.9)
.logo-img
	padding-top 5%
	width 100%
	height 90%
	