.icon-nav
	display inline-block 
	background #292929
	width 60px
	position absolute
	height 56px
	top 0
	.item
		display block
		width 34px
		height 4px
		border-radius 1px
		margin 0 auto 4px
		position absolute
		transition all .35s
		background silver
		left 13px
	.top
		top 17px;
	.mid
		top 26px
	.bottom
		top 35px;
.logo
	display inline-block
	position absolute
	left 60px
	padding 8px
	width 60px
	height 56px
	background-color rgba(#545454,.9)