.is-active-toggle
	.item
		height 4px
		border-radius 1px
		margin auto	
		transition all .35s
		position absolute
		background silver
	.top
		top 28px;
		transform rotate(45deg)
	.mid
		top 26px
		opacity 0
	.bottom
		top 28px;
		transform rotate(-45deg)

.is-active-nav
	transition all .5s;
	margin-left 0;	