.is-active-toggle
	display inline-block 
	background #292929
	width 60px
	position absolute
	height 56px
	.item
		width 34px
		height 4px
		border-radius 1px
		margin auto	
		transition all .35s
		position absolute
		background silver
		left 13px
	.top
		top 28px;
		transform rotate(45deg)
	.mid
		top 26px
		opacity 0
	.bottom
		top 28px;
		transform rotate(-45deg)

.is-active-nav
	transition all .5s;
	margin-left 0;	