@import './../c_Theme/_index'

//=====MEDIA BREAKPOINTS =====//
    device_pixel_radio = 2;
    tablet_breakpoints = 890px;

.header
    transition all 1s
    background-image url('./../../resources/img/principal.png')
    background-size cover
    background-position right center
    width 100%
    height 340px
    &:hover
        transition all 1s
        background-image url('./../../resources/img/header.png')
    @media screen and (min-width: tablet_breakpoints) 
        height 600px
        background-position top center
.nav-center
    padding-top 60px
.top-nav
    position fixed
    z-index 999 
    top 0;
.nav-container
    position fixed
    transition all .45s
    background-color background_nav_principal
    top 0;
    padding-top 60px
    width 100%
    margin-left -600px
    @media screen and (min-width: tablet_breakpoints) 
        width 34%;
.nav-items:nth-child(1)
    background-color transparent
.nav-items
    font-family:'Roboto'
    display block
    background-color background_nav
    font-size 1.25rem
    padding 1.25rem
    transition all .25s
    border-bottom solid .5px #3D3D3D
    color color_nav
    &:hover
        color grey
        margin-left 5px
.size
    width 28px
    color #007E83;
.nav-search
    width 100%
    margin 15px
.nav-input-search
    width 90%
    border-radius 2px
    padding 8px
    font-size 1.1rem
    background-color silver
    margin auto
