@import './../c_Theme/_index'

//=====MEDIA BREAKPOINTS =====//
    device_pixel_radio = 2;
    tablet_breakpoints = 890px;

.header
    transition all 1s
    background-image url('./../../resources/img/principal.png')
    background-size cover
    background-position right center
    width 100%
    height 460px
    &:hover
        transition all 1s
        background-image url('./../../resources/img/header.png')
    @media screen and (min-width: tablet_breakpoints) 
        height 600px
        background-position top center
.nav-center
    padding-top 60px
.top-nav
    position fixed
    z-index 999 
    top 0;
.nav-container
    position fixed
    transition all .45s
    background-color background_nav_principal
    top 0;
    padding-top 60px
    width 100%
    height 100%
    margin-left -600px
    @media screen and (min-width: tablet_breakpoints) 
        width 34%;
.nav-items:nth-child(1)
    background-color transparent
.nav-items
    font-family:'Roboto'
    display block
    background-color background_nav
    font-size 1.25rem
    padding 1.25rem
    transition all .25s
    border-bottom solid .5px #3D3D3D
    color color_nav
    &:hover
        color grey
        margin-left 5px
.size
    width 28px
    color #007E83;
.nav-search
    width 90%
    margin 15px auto
    border-radius 2px
    background-color silver
    position relative
.nav-input-search
    width 90%
    background-color silver
    padding 8px
    font-size 1.1rem
    margin auto
.send-search
    position absolute
    color #272727
    top 10px
    right 8px

.hero-slider
    height 200px
    background-color background_optional_dark

.banner
    height 680px
    background-color background_primary_dark
    @media screen and (min-width: tablet_breakpoints)
        height 700px
        display flex
        flex-wrap wrap
.banner__title
    display flex
    flex-direction column
    @media screen and (min-width: tablet_breakpoints)
        width 40%
        height 100%
        display flex
        padding 40px
        justify-content center
        align-items center
.banner__h2
    padding 40px 10px 10px 10px;
    font-size 1.6rem
    text-align center
    color #027D6D
    margin 0
    @media screen and (min-width: tablet_breakpoints)
        font-size 3rem
        font-weight 500
        
.banner__btn
    background-color #D28430
    padding 10px
    margin 8px auto
        
.banner__content
    height 70%
    padding 10px 20px
    display grid
    grid-template-columns repeat(2, 1fr)
    grid-template-rows repeat(2, 1fr)
    grid-gap 20px
    @media screen and (min-width: tablet_breakpoints)
        width 60%
        grid-template-columns repeat(3, 1fr)
        grid-template-rows repeat(3, 1fr)
        height 100%
        padding 40px 70px
.img-banner-content:nth-child(1)
    grid-column 1/ span 2

.img-banner-content
    transition all .35s
    &:hover
        filter brightness(0.5)
        cursor pointer
        
     
