@import './../c_Theme/_index'

//=====MEDIA BREAKPOINTS =====//
    device_pixel_radio = 2;
    tablet_breakpoints = 890px;
    

//============HEADER STYLES ===========//
.header
    transition all 1s
    background-image url('./../../resources/img/principal.png')
    background-size cover
    background-position right center
    width 100%
    height 460px
    &:hover
        transition all 1s
        background-image url('./../../resources/img/header.png')
    @media screen and (min-width: tablet_breakpoints) 
        height 600px
        background-position top center
.nav-center
    padding-top 60px
.top-nav
    position fixed
    z-index 999 
    top 0;
.nav-container
    position fixed
    transition all .45s
    background-color background_nav_principal
    top 0;
    padding-top 60px
    z-index 900
    width 100%
    height 100%
    margin-left -900px
    @media screen and (min-width: tablet_breakpoints) 
        width 34%;
.nav-items:nth-child(1)
    background-color transparent
.nav-items
    font-family:'Roboto'
    display block
    background-color background_nav
    font-size 1.25rem
    padding 1.25rem
    transition all .25s
    border-bottom solid .5px #3D3D3D
    color color_nav
    &:hover
        color grey
        margin-left 5px
.size
    width 28px
    color #007E83;
.nav-search
    width 90%
    margin 15px auto
    border-radius 2px
    background-color silver
    position relative
.nav-input-search
    width 90%
    background-color silver
    padding 8px
    font-size 1.1rem
    margin auto
.send-search
    position absolute
    color #272727
    top 10px
    transition all .25s
    right 8px
    &:hover
        cursor pointer
        color #595959
        
.credits
    width 100%
    font-size 1rem
    position absolute
    bottom 0
    padding 18px 0
    display flex
    background-color transparent
    flex-direction column
    justify-content center
    align-items center
    @media screen and (min-width: tablet_breakpoints) 
        font-size 1.2rem
        background-color #313131
        padding 20px 0
    i 
        font-size 1.5rem 
.copy
    text-align center
    margin 1rem 0
    color #A17D4E


.hero-slider
    height 200px
    background-color background_optional_dark


//============MAIN STYLES==========//


.banner
    height 680px
    background-color background_primary_dark
    @media screen and (min-width: tablet_breakpoints)
        height 700px
        display flex
        flex-wrap wrap
.banner__title
    display flex
    flex-direction column
    @media screen and (min-width: tablet_breakpoints)
        width 40%
        height 100%
        display flex
        padding 40px
        justify-content center
        align-items center
.banner__h2
    padding 40px 10px 10px 10px;
    font-size 1.6rem
    text-align center
    color #027D6D
    margin 0
    @media screen and (min-width: tablet_breakpoints)
        font-size 3rem
        font-weight 500
        
.banner__btn
    background-color #D28430
    padding 10px
    margin 8px auto
        
.banner__content
    height 70%
    padding 10px 20px
    display grid
    grid-template-columns repeat(2, 1fr)
    grid-template-rows repeat(2, 1fr)
    grid-gap 20px
    @media screen and (min-width: tablet_breakpoints)
        width 60%
        grid-template-columns repeat(3, 1fr)
        grid-template-rows repeat(3, 1fr)
        height 100%
        padding 40px 70px
.slide-wrap
    grid-column 1/ span 2
    grid-row 1/ span 2
    height 100%
    margin auto 0
    position relative
    z-index 800
    width 100%
    overflow hidden
    @media screen and (min-width: tablet_breakpoints)
        height 86%
.load-container
    transition all .7s
    min-width 100%;
    width 100%
    display flex
    margin-left 0
    flex-direction row
    min-height 100%
.img-banner-items
    min-width 100%
    width 100%
.img-load-content
    width inherit
    height inherit
    object-fit cover
.btn-prev, .btn-next
    position absolute 
    top 45%
    padding 5px
    border-radius 3px
    display inline-block
    background-color rgba(#000,.7)
    i
        color silver
        font-size 1.2rem
        &:hover
            transform scale(1.1)
            color color_btn_active
            cursor pointer
        
.btn-next
    right 10px
.btn-prev
    left 10px
    

.img-banner-content
    transition all .35s
    &:hover
        filter brightness(0.5)
        cursor pointer

.map
    width 100%
    margin 0
    background-color map_canvas
    padding 10px 0
.map__canvas
    width 100%
    padding 5px
    height 300px
    margin 0

        
  
//================FOOTER STYLES=====================//

.footer
    background-color background_footer
    min-width 100vw
    min-height 100px
    display flex
    flex-direction column
    justify-content center
    align-items center
    padding 1.2rem
    @media screen and (min-width: tablet_breakpoints)
        min-width 90%;
        width 88%
        margin 2rem auto
        border-radius 5px
        flex-direction row
.footer__about
    text-align center
    font-size 1rem
    color grey
    padding .5rem
    border-bottom 1px solid border__footer
    @media screen and (min-width: tablet_breakpoints)
        width 50%;
        font-size 1.2rem
        border none
        border-right 1px solid border__footer
    
.footer__contact
    margin 1rem
    font-size 1.6rem
    display flex
    justify-content center
    align-items center
    @media screen and (min-width: tablet_breakpoints)
        width 50%;
        font-size 2rem
.footer-contact__item
    i
        color color_primary_icon
        display inline-block 
        padding .25rem .7rem
        transition all .25s
    i:hover
        transform scale(1.25)
.contact__caption
    font-size 1rem
    display block
    color grey
    text-align center
    margin-bottom .25rem
    @media screen and (min-width: tablet_breakpoints)
        font-size 1.2rem
        


//*********************** HYSTORY/INDEX.HTML STYLES ****************************//
    
.header-main
    @extend .header
    animation changecolor 10s infinite ease-in-out
    background #1C2F35;
    transition background 1.5s
    &:hover
        background #1D2E2F;
        
@keyframes changecolor 
    from
        background: rgb(6,30,22);
        background: -moz-linear-gradient(90deg, rgba(6,30,22,1) 0%, rgba(34,82,86,1) 46%, #144D48 100%);
        background: -webkit-linear-gradient(90deg, rgba(6,30,22,1) 0%, rgba(34,82,86,1) 46%, #144D48 100%);
        background: linear-gradient(90deg, rgba(6,30,22,1) 0%, rgba(34,82,86,1) 46%, #144D48 100%);
    to
        background: rgb(6,30,28);
        background: -moz-linear-gradient(29deg, rgba(6,30,28,1) 0%, rgba(68,61,27,1) 53%, rgba(55,26,37,1) 100%);
        background: -webkit-linear-gradient(29deg, rgba(6,30,28,1) 0%, rgba(68,61,27,1) 53%, rgba(55,26,37,1) 100%);
        background: linear-gradient(29deg, rgba(6,30,28,1) 0%, rgba(68,61,27,1) 53%, rgba(55,26,37,1) 100%);
.container-main
    width 100%
    padding 25px 10px
    @media screen and (min-width: tablet_breakpoints)
        padding 20px 5px
        width 90% 
        margin 20px auto
    img
        float right
        padding 10px
        width 100%
        display inline-block
        @media screen and (min-width: tablet_breakpoints)
            width 800px
            margin 20px 
            height auto
.wrap-title
    font-weight 300
    display block
    margin 1rem
    font-size 1.6rem
    @media screen and (min-width: tablet_breakpoints)
        font-size 2.5rem
        margin 0
        padding 20px 0

.history_title
    text-align center
    margin 0
    padding 20px 10px 10px 10px
    color #393937
    font-weight 500
    @media screen and (min-width: tablet_breakpoints)
        font-size 2.5rem 
.text-container
    font-size 1.15rem
    background-color silver
    border .5px solid #B4B3B3
    border-radius 5px 
    padding 20px 
    p
        color #2F4043   
.creditos__history
    text-align right
    display block 
    margin 40px 10px
        