
$icon_width     = 32px;
$icon_height    = 21px;

.second{
	display: inline-block;
	width: $icon_width;
	height: $icon_height;
	background-repeat: no-repeat;
	background-position: bottom center;
	box-sizing: border-box;
	vertical-align: middle;
}
.home{
	background-image: url(../../resources/user.svg);
}
.about{
	background-image: url(../../resources/done.svg);
}

.more{
	background-image: url(../../resources/more.svg);
}

.add{
	background-image: url(../../resources/add.svg);
}

.galery{
	background-image: url(../../resources/more.svg);
}
.org{
	background-image: url(../../resources/org.svg);
	margin-bottom: 9px;
}


.fa{
	background-image: url(../../resources/facebook.svg);
}
.tw{
	background-image: url(../../resources/twitter.svg);
}
.you{
	background-image: url(../../resources/youtube.svg);
}
.ins{
	background-image: url(../../resources/instagram.svg);
}
.in{
	background-image: url(../../resources/linkedin.svg);
}



.lato{
	font-family: 'Lato' sans-serif;
}
